<div class="loginForm">
  <form #form="ngForm" [class.content-disabled]="loading">
    <h3 class="p-panel-header" style="text-align: center;">Авторизация</h3>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
      <input pInputText
             type="text"
             [(ngModel)]="user.userName"
             placeholder="Введите логин">
    </div>

    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
      <input pInputText
             (ngModelChange)="user.password = $event"
             [ngModel]="user.password"
             type="password"
             placeholder="Введите пароль"
             aria-describedby="password-help">
    </div>

    <div class="btnGroup">
      <button pButton class="p-button registerButton"
              type="button"
              label="Регистрация">Регистрация
      </button>

      <button pButton
              class="p-button loginButton"
              type="button"
              label="Войти">Войти
      </button>
    </div>
  </form>
</div>



