<div class="loginForm">
  <form #form="ngForm">
    <h3 class="p-panel-header" style="text-align: center;">Авторизация</h3>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
      <input pInputText
             name="userName"
             type="text"
             [(ngModel)]="user.userName"
             placeholder="Введите логин">
    </div>

    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
      <input pInputText
             name="password"
             (ngModelChange)="user.password = $event"
             [ngModel]="user.password"
             type="password"
             placeholder="Введите пароль"
             aria-describedby="password-help">
    </div>

    <div class="btnGroup">
      <button pButton pRipple [style]="{ 'font-size': '10px', 'height':'50px', 'width':'100%'}"
              type="button"
              label="Зарегистрироваться"
              class="p-button-raised p-button-success"></button>
      <button pButton pRipple [style]="{'height':'50px', 'width':'100%'}"
              type="button"
              label="Войти"
              class="p-button-raised p-button-success"></button>
    </div>
  </form>
</div>



