.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  height: 100vh;
}

.btnGroup{
  width: 100%;
  gap: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
